body{
   font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: #adb3b6;
}

* {
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
}
.container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
img{
width:100%;
height:auto;}

.container-large {
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
}
header >.container{
    display:flex;
    align-items: center;
}



@media(max-width:640px){
		.banner-img >img{
          display:none;
        }
	}

.navbar{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
}

.navbar >li{
    margin: 0 10px;
    text-transform: uppercase;
}
.list-t,.list-cards,.list-social{
	 margin: 0;
	 padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	}
.list-cards {
        margin: 0 -33px;
    }
	.list-cards >li{
	width:50%;
	padding:0 33px;
	}
	@media(max-width:640px){
		.list-cards >li{width:100%;}
	}
	.card-label{
	margin: 10px;

	}
.card-label >a{
	 text-decoration: none;
	  color: gray;
	  }

.card-title,.title-article{

    font-weight: 500;
    line-height: 3;
    color: black;
    font-size: 18px;
	 }
	.card-title{
	 text-align:center;}
.block-newsletter{
    background: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 60px 0;
    text-align: center;
}

.block-card ,.block-button{
    margin-top: 20px;
    margin-bottom: 20px;
}
.block-button{
    text-align: center;
}
.button{
    padding:10px;
    border:2px solid gray;
     text-decoration: none;
     color:black;
     background:gray;
 }
 .form-control{
     border:none;
     width:300px;
     height:40px;
     font-size:20px;


 }


.label-article{
text-transform: capitalize;
}
.img-i span a{
display:block;
}
.wrapper-flex{    display: flex;
     justify-content: space-between;
}
.col-right,.col-left{
display: flex;
align-items: center;}
.icons{
    margin: auto 10px;
}
footer{

margin: 20px auto;
padding: 20px 20px;}
.col-left span{
padding: 0 10px;}
footer >.container{
padding-top: 10px;
border-top: 2px solid;
}